<div>
  <div class="text-labels">
    <p>INTERFACE</p>

    <p>MOCK</p>
  </div>
  <div class="input-areas">
    <div>
      <textarea
        [formControl]="mockGeneratorService.interfaceControl"
        class="interface-input form-control"
      ></textarea>

      <app-additional-interface></app-additional-interface>
    </div>

    <div>
      <pre class="mock-input form-control" contenteditable="true">{{mockGeneratorService.json | json}}</pre>

      <button class="btn btn-primary" (click)="mockGeneratorService.generateMock()">Generate</button>
    </div>
  </div>
</div>

