<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Add additional interface</h5>
      <button type="button" id="close-btn" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>

    <div class="modal-body">
      <label>Type</label>
      <select class="modal-control form-control" [formControl]="formGroup.get(formField.Type)">
        <option *ngFor="let option of typeOptions">{{option}}</option>
      </select>

      <label>Name</label>
      <input class="modal-control form-control" [formControl]="formGroup.get(formField.Name)">

      <label>Interface</label>
      <textarea class="modal-control form-control" [formControl]="formGroup.get(formField.Value)"></textarea>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)='close()'>Close</button>
      <button type="button" class="btn btn-primary" (click)="save()" [disabled]="formGroup.invalid">Save changes</button>
    </div>
  </div>
</div>
