<div class="mock-input-container">
  <p class='input-name'>MOCK</p>

  <textarea
    class="default-input form-control"
    *ngIf="!isInterfaceToMockMode"
    [formControl]="interfaceGeneratorService.mockControl"
  ></textarea>

  <pre
    class="default-input form-control"
    contenteditable="true"
    *ngIf="isInterfaceToMockMode"
  >{{ this.mockGeneratorService.json | json }}</pre>

  <button
    class="btn btn-primary generate-btn"
    (click)="generatorService.generate(isInterfaceToMockMode)"
    *ngIf="isInterfaceToMockMode"
  >Generate</button>
</div>
