<div class='additional-interfaces'>

  <button class="btn btn-link btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal">
    <span class="title">+ Add additional data</span>
  </button>

  <div class="interface" *ngFor="let interface of additionalInterfaceService.additionalValues; trackBy: identify; let i = index ">

    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span [title]="interface.type" class="title">{{interface.name}}</span>
        </mat-panel-title>

        <mat-panel-description>
          <mat-icon class="delete-button" (click)="additionalInterfaceService.remove(element.value)">delete_outline
          </mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <label>Type</label>
      <input class="interface-name form-control" [value]="interface.type" disabled>

      <label>Name</label>
      <input #element class="interface-name form-control" [value]="interface.name" disabled>

      <label>{{interface.type}}</label>
      <textarea class="interface-value form-control" [value]="interface.value" disabled></textarea>
    </mat-expansion-panel>
  </div>

  <app-additional-interface-modal
    class="modal fade"
    id="exampleModal"
  ></app-additional-interface-modal>
</div>
