@import '~bootstrap/scss/bootstrap';

app-root,
body,
html {
  height: 100%;
  background-color: #F6F7FB;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
